nav {
  display: inline-block;
  background-color: black;
  color: aliceblue;
  top: 0;
  width: 100%;
  min-height: 4rem;
  position: fixed;
}

nav a {
  font-size: 25px;
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  float: right;
}

#welcome-section,
#projects,
#about {
  height: 100vh;
  margin-top: 6rem;
  text-align: center;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: rgb(78, 88, 92);
}

@media screen and (min-width: 700px;) {
  body {
    background-color: rgb(198, 229, 240);
  }
}
